.App {
  text-align: center;
}


@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.app {
  margin: auto;
  background-color: #eff2f5;
  padding: 29px 130px;
  max-width: 1400px;
  min-width: 330px;
  min-height: 100vh;
}
@media screen and (max-width: 1090px) {
  .app {
    padding: 29px 80px;
  }
}
@media screen and (max-width: 768px) {
  .app {
    padding: 29px 40px;
  }
}
@media screen and (max-width: 540px) {
  .app {
    padding: 29px 20px;
    
  }
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
@media screen and (max-width: 540px) {
  .app__header {
    padding: 29px 50px;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
.app__logo {
  height: 22px;
  width: 92px;
  left: 130px;
  top: 29px;
  border-radius: 0;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.app__btn {
  height: 32px;
  width: 153px;
  border-radius: 10px;
  border: solid .3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}
.app__btn:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgba(255,255,255,0.7);
	border-radius: 5px;
	transition: all 1s ease;
}
.app__btn:hover:before {
	width: 100%;
}
.app__btn:hover {
	border: #03cea4;
}
.app__btn-txt {
  display: block;
  height: 18px;
  width: 151px;
  border-radius: 0px;
  font-family: inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: center;
  padding: 0;
}
.app__title {
  margin: auto;
  height: 61px;
  width: 275px;
  left: 583px;
  top: 90px;
  font-family: "Playfair Display";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: center;
}
.app__body {
  margin-top: 60px;
  padding-top: 0;
}
.app__loading {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__group {
  margin-bottom: 40px;
}

.group {
  padding-top: 0;
}
.group__title {
  margin: 0px 0px 16px;
  font-family: inter;
}
.group__cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media screen and (max-width: 540px) {
  .group__cards {
    justify-content: center;
  }
}
.group__card {
  height: 134px;
  width: calc(25% - 10px);
  flex-shrink: 1;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.03);
  margin: 3px ;
  margin-bottom: 5px;
  text-align: start;
  
}
@media screen and (max-width: 1090px) {
  .group__card {
    width: 33%;
    min-width: calc(33% - 10px);
    width: calc(33% - 12px);
    max-width: calc(33% - 12px)%;
    
  }
}
@media screen and (max-width: 768px) {
  .group__card {
    width: calc(50% - 10px);
    min-width:calc(50% - 10px);
    flex-grow: 0;
  }
}
@media screen and (max-width: 540px) {
  .group__card {
    width: 100%;
    min-width: 100%;
  }
}

.card__title {
  height: 22px;
  font-family: Inter;  
}
.card__eth-rate {
  font-family: Inter;
  height: 20px;
 
  border-radius: nullpx;
  padding: 0;
}
.card__bottom {
  display: flex;
  justify-content: space-between;
}
.card__price {
  height: 19px;
}
.card__percent {
  height: 17px;
  width: 41.5px;
  left: 951px;
  top: 705px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.02em;
  text-align: right;
  color: #03cea4;
}